# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# PBAX
*.ipch 


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# //////////////////////////////////
# PBAX or Powered_By_AndroX 21.10.18
# //////////////////////////////////

# SUO
*.suo

# db and Opendb
*.db
*.opendb
*.pdb
*.idb

# User file solution
*.vcxproj.user

# Log File
*.ilk
*.log
*.tlog

# State Build
*.lastbuildstate
