[submodule "submodules/FX11"]
	path = submodules/FX11
	url = https://github.com/Microsoft/FX11
[submodule "submodules/DXTK"]
	path = submodules/DXTK
	url = https://github.com/Microsoft/DirectXTK
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/SOL2"]
	path = submodules/SOL2
	url = https://github.com/ThePhD/sol2
