[submodule "submodules/SpdLog"]
	path = submodules/SpdLog
	url = https://github.com/gabime/spdlog
[submodule "submodules/ASSIMP"]
	path = submodules/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "submodules/DXUT"]
	path = submodules/DXUT
	url = https://github.com/Microsoft/DXUT
[submodule "submodules/Boost"]
	path = submodules/Boost
	url = https://github.com/boostorg/boost
[submodule "submodules/FX11"]
	path = submodules/FX11
	url = https://github.com/Microsoft/FX11
